[Unit]
Description=Set the system clock from the RTC
DefaultDependencies=no
After=sysinit.target
Conflicts=shutdown.target

[Service]
ExecStart=/usr/bin/rtc-utils --read --attempts 10
Type=oneshot

[Install]
WantedBy=sysinit.target
